<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">
                    <span class="linebreak">Specifications</span>
                </h2>
                <p class="text-faded">
				Max money: 42 coins
                <br>
				Transaction confirmation method: Scrypt PoW + PoS
                <br>
				Number of transaction/block confirmation: 7/42
                <br>
				Target spacing: 7 mins PoS, 21 mins PoW
				<br>
				Block reward: 0 PoS, 0 + tx fees PoW
                <br>
				Min/Max stake age: 42 hrs/unlimited
                <br>
				Transaction type: Public & <a href="https://bitcointalk.org/index.php?topic=1502028.msg17092343#msg17092343/" target="_blank">Private</a>
				<br>
				P2P Port: 4242 (<a href="https://bitcointalk.org/index.php?topic=1502028.msg17047756#msg17047756" target="_blank">port to open</a>)
                </p>				
				<br>
				<br>
                <h2 class="section-heading">
                    <span class="linebreak">Links</span>
                </h2>
                <p class="text-faded">
                <a href="https://chainz.cryptoid.info/42/" target="_blank">Explorer</a> & <a href="https://bitcointalk.org/index.php?topic=1502028.msg23640962#msg23640962" target="_blank">Mining</a> 
				<br>
				<a href="https://bitcointalk.org/index.php?topic=1502028.msg19453980#msg19453980" target="_blank">The List of Available Markets</a>
				<br>
				Wallet Generator: <a href="https://42-address.github.io/" target="_blank">42-address</a>, <a href="https://github.com/walletgeneratornet/WalletGenerator.net/archive/refs/tags/v2018.01.23.zip" target="_blank">Walletgenerator.net</a>
				<br>
				Charts & Tools: <a href="https://coinpaprika.com/coin/42-42-coin" target="_blank">CoinPaprika</a>, <a href="https://www.coingecko.com/en/coins/42-coin" target="_blank">CoinGecko</a>, <a href="http://coinmarketcap.com/currencies/42-coin" target="_blank">Сoinmarketcap</a>
				<br>
				Latest Press: <a href="https://bitcourier.co.uk/blog/42-coin" target="_blank">42-Coin Review 2021</a>, <a href="https://www.publish0x.com/zoro-disciple/42-coin-42-store-of-value-xkyozme" target="_blank">42-coin - Store of value</a>
				<br>
                </p>
				<br>
				<br>
                <p class="text-faded">
                Traditional cryptocurrencies are mostly inflationary, with each new coin mined, the others lose their value. 42-coin is equipped with a deflationary architecture to combat the depreciation caused by inflation and create a superb store of value and stability. It is a completely decentralized and community-driven project. There is no dev team holding/allocation - all coins were distributed fairly during the mining stage in 2014-2016. 42-coin delivers a hybrid of Proof-of-Work and Proof-of-Stake transaction confirmation methods and represents a new way of securing the network against 51% attacks.
                </p>
            </div>
        </div>
    </div>
</section>
