<section id="exchanges">
    <div class="container">
        <div class="row no-gutter">
            <div class="col-lg-12 text-center">
               <h2 class="section-heading">Exchanges</h2>
            </div>
        </div>
    </div>
<br>
    <div class="container-fluid" style="text-align: center;">
        <div class="row">
			<a href="https://www.livecoin.net/trading/FORTYTWO_BTC" target="_blank"><img src="img/pictures/exchanges/livecoin.jpg" class="img-inline" style="max-width: 100%; height: auto;" alt="LiveCoin"></a>
			<a href="https://www.altilly.com/market/42_BTC" target="_blank"><img src="img/pictures/exchanges/altilly.jpg" class="img-inline" style="max-width: 100%; height: auto;" alt="Altilly"></a>  			
			<a href="https://ex.xbts.io/#/market/XBTSX.42_XBTSX.BTC" target="_blank"><img src="img/pictures/exchanges/xbts.jpg" class="img-inline" style="max-width: 100%; height: auto;" alt="XBTS"></a>
			<br>			
			<a href="https://freebitcoins.com/xchange/market/Bitcoin-42coin" target="_blank"><img src="img/pictures/exchanges/freebitcoins.jpg" class="img-inline" style="max-width: 100%; height: auto;" alt="FreeBitcoins"></a>
			<a href="https://altmarkets.io/trading/42btc" target="_blank"><img src="img/pictures/exchanges/altmarkets.jpg" class="img-inline" style="max-width: 100%; height: auto;" alt="AltMarkets"></a>
        </div>
    </div>
</section>