<section class="no-padding" id="merchants">
    <div class="container">
        <div class="row no-gutter">
            <div class="col-lg-12 text-center">
               <h2 class="section-heading">Merchants</h2>
               <hr class="primary">
            </div>
        </div>
    </div>
<br>
<br>
<br>
    <div class="container-fluid">
        <div class="row no-gutter">
            <img src="img/pictures/gs.jpg" class="img-responsive" alt="The Green Sheet">
			<img src="img/pictures/mts.jpg" class="img-responsive" alt="Marine Trading Service">
			<img src="img/pictures/ss.jpg" class="img-responsive" alt="Ship Supply">
			<img src="img/pictures/tf.jpg" class="img-responsive" alt="The TracyFirm">
        </div>
    </div>
</section>
