<section id="partners">
    <div class="container">
        <div class="row no-gutter">
            <div class="col-lg-12 text-center">
               <h2 class="section-heading">Partners</h2>
            </div>
        </div>
    </div>
<br>
<br>
    <div class="container-fluid" style="text-align: center;">
        <div class="row">
			<a href="https://www.chesscoin032.com/" target="_blank"><img src="img/pictures/partners/chesscoin.png" class="img-inline" style="max-width: 100%; height: auto;" alt="ChessCoin 0.32%"></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<a href="https://bitcourier.co.uk/blog/42-coin" target="_blank"><img src="img/pictures/partners/bitcourier.jpg" class="img-inline" style="max-width: 100%; height: auto;" alt="£BITCOURIER"></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<a href="https://github.com/novacoin-project/" target="_blank"><img src="img/pictures/partners/novacoin.jpg" class="img-inline" style="max-width: 100%; height: auto;" alt="NovaCoin"></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<a href="https://freebitcoins.com/" target="_blank"><img src="img/pictures/partners/freebitcoins.jpg" class="img-inline" style="max-width: 100%; height: auto;" alt="FreeBitcoins"></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<a href="https://beehivewallet.link/" target="_blank"><img src="img/pictures/partners/beehivewallet.jpg" class="img-inline" style="max-width: 100%; height: auto;" alt="BeehiveWallet"></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<a href="https://fixmycar42.com/categories/" target="_blank"><img src="img/pictures/partners/fixmycar42.jpg" class="img-inline" style="max-width: 100%; height: auto;" alt="Fixmycar42"></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<br>
			<a href="https://vidavision.ru/oplata-oborudovaniya-i-uslug-v-kriptovalyute-42coin-i-dash/" target="_blank"><img src="img/pictures/partners/vidavision.png" class="img-inline" style="max-width: 100%; height: auto;" alt="Vidavision"></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<a href="https://aces4m.co/" target="_blank"><img src="img/pictures/partners/aces4m.jpg" class="img-inline" style="max-width: 100%; height: auto;" alt="Aces4sManagement"></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<a href="https://gotbit.io/" target="_blank"><img src="img/pictures/partners/gotbit.png" class="img-inline" style="max-width: 100%; height: auto;" alt="Gotbit"></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
    </div>
</section>