<section id="partners">
    <div class="container">
        <div class="row no-gutter">
            <div class="col-lg-12 text-center">
               <h2 class="section-heading">Partners</h2>
            </div>
        </div>
    </div>
<br>
<br>
    <div class="container-fluid" style="text-align: center;">
        <div class="row">
			<a href="https://www.chesscoin032.com/" target="_blank"><img src="img/pictures/partners/chesscoin.png" class="img-inline" style="max-width: 100%; height: auto;" alt="ChessCoin 0.32%"></a>
			<a href="https://bitcourier.co.uk/" target="_blank"><img src="img/pictures/partners/bitcourier.jpg" class="img-inline" style="max-width: 100%; height: auto;" alt="£BITCOURIER"></a>
			<a href="https://github.com/novacoin-project/" target="_blank"><img src="img/pictures/partners/novacoin.jpg" class="img-inline" style="max-width: 100%; height: auto;" alt="NovaCoin"></a>
			<a href="https://freebitcoins.com/" target="_blank"><img src="img/pictures/partners/freebitcoins.jpg" class="img-inline" style="max-width: 100%; height: auto;" alt="FreeBitcoins"></a>
			<a href="https://beehivewallet.link/" target="_blank"><img src="img/pictures/partners/beehivewallet.jpg" class="img-inline" style="max-width: 100%; height: auto;" alt="BeehiveWallet"></a>
			<a href="https://gotbit.io/" target="_blank"><img src="img/pictures/partners/gotbit.png" class="img-inline" style="max-width: 100%; height: auto;" alt="Gotbit"></a>
        </div>
    </div>
</section>